[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/plone-4.3.x.cfg
package-name = collective.viewlet.sitemap

parts +=
	lxml 
	omelette
	test

eggs +=
	${lxml:egg}

[versions]


[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml

[test]
recipe = zc.recipe.testrunner
eggs =
    ${instance:eggs}
    ${buildout:package-name} [test]
defaults = ['-s', '${buildout:package-name}']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
